[Unit]
Description=Thermal Camera Python App
After=network.target
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
ExecStart=/usr/bin/python3 /home/pi/PyThermalCamera/src/main.py
WorkingDirectory=/home/pi/PyThermalCamera/src
User=pi
Group=pi
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
